@page "/house"

<div class="container">
        <header class="d-flex justify-content-left py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/house" class="nav-link active" aria-current="page">Статистика Дома</a></li>
            <li class="nav-item"><a href="/tickets" class="btn btn-outline-primary">Заявки Жильцов</a></li>
            <li class="nav-item"><a href="/events" class="btn btn-outline-primary">Мероприятия</a></li>
            <li class="nav-item"><a href="/debtors" class="btn btn-outline-primary">Счета по Квартирам</a></li>
          </ul>
        </header>
</div>

<h3>Статистика Дома</h3>



@code {
}
