@page "/houses"

<h3>ЖК "Соловей"</h3>
<h4>Список домов</h4>

<head>
    <link rel="stylesheet" href="css/hackathon/card.css" />
</head>

<body>
    <table
    style='border-spacing: 15px;
    border-collapse: separate;'>
    <tr>
            @for (int i = 0; i < 3; i++)
            {
             <th>
                 <div class="property-card">
                    <a href="/house">
                      <div class="property-image" style="background-image: url('https://miesarch.com/uploads/images/works/82338ac1834f072abc8ac25f79f349984c1357f3.jpeg');">  
                        <div class="property-image-title">
                          <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                        </div>
                      </div></a>
                    <div class="property-description">
                      <h5> ЖК "Соловей" </h5>
                      <p>ул. Бульвар Опольского 15</p>
                    </div>
                    <a href="/house">
                      <div class="property-social-icons">
                        <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                      </div>
                    </a>
                  </div>
            </th>   
            }
    </tr>
    </table>
</body>

@code {

}
