@page "/tickets"
@using Objects

<body>
    <PageTitle>Запросы от жильцов</PageTitle>
    <div class="container">
        <header class="d-flex justify-content-left py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/house" class="btn btn-outline-primary">Статистика Дома</a></li>
            <li class="nav-item"><a href="/tickets" class="nav-link active" aria-current="page">Заявки Жильцов</a></li>
            <li class="nav-item"><a href="/events" class="btn btn-outline-primary">Мероприятия</a></li>
            <li class="nav-item"><a href="/debtors" class="btn btn-outline-primary">Счета по Квартирам</a></li>
          </ul>
        </header>
    </div>
    <table 
    style='border-spacing: 10px;
    border-collapse: separate;'>
        <tr>
            @foreach (var ticket in tickets)
            {
                <th>
                @if (ticket.IsSOS) 
                {
                    <div class="card" style="width: 18rem; background-color: rgba(252, 10, 10, 0.1)">
                        <div class="card-body">
                            <h5 class="card-title" style='color: rgb(252, 10, 10);'>@ticket.Title</h5>
                                    <h6 style='color: rgb(252, 10, 10)';>Экстренная ситуация</h6>
                            <p class="card-text">@ticket.Text</p>
                            <button type="button" class="btn btn-outline-danger">Связаться с жильцом</button>
                        </div>
                    </div>
                  }
                else
                {
                    <div class="card" style="width: 18rem; background-color: rgba(66, 135, 245, 0.1)">
                        <div class="card-body">
                            <h5 class="card-title">@ticket.Title</h5>
                            <h6 class='text-primary'>Не просмотрено</h6>
                            <p class="card-text">@ticket.Text</p>
                            <button type="button" class="btn btn-outline-primary">Ответить на заявку</button>
                        </div>
                    </div>
                }
                </th>
            }
        </tr>
    </table>
</body>



@code {
    private Ticket ticket1 = new Ticket()
        {
            Id = 693765,
            Type = "Вопрос",
            Title = "Граффити",
            IsSOS = false,
            Date = new DateTime(2015, 7, 20),
            Address = "Г.Краснодар ул.Бульвар Опольского 15, кв.75",
            Text = "Кто-то наделал граффити на заборе снаружи. Думаю, ваша система выявит нарушителя."
        };

    private Ticket ticket2 = new Ticket() {
            Id = 693765,
            Type = "Вопрос",
            Title = "Слышу дым у соседей",
            IsSOS = true,
            Date = new DateTime(2015, 7, 20),
            Address = "Г.Краснодар ул.Бульвар Опольского 15, кв. 22",
            Text = "Не знаю, вызывать пожарных или нет? Сигнализация вроде не срабатывала"
        };

        private Ticket ticket3 = new Ticket() {
            Id = 693769,
            Type = "Вопрос",
            Title = "Дед Мороз",
            IsSOS = false,
            Date = new DateTime(2015, 7, 20),
            Address = "Г.Краснодар ул.Бульвар Опольского 15, кв.99",
            Text = "Будет ли повторная встреча с Дедом Морозом? Мы с сыном уезжали, а он хочет праздника"
        };

        private Ticket ticket4 = new Ticket() {
            Id = 693769,
            Type = "Вопрос",
            Title = "Клуб Программирования",
            IsSOS = false,
            Date = new DateTime(2015, 7, 20),
            Address = "Г.Краснодар ул.Бульвар Опольского 15, кв.99",
            Text = "Нам в доме не помешает организовать коворкинг для юных программистов!"
        };

    private List<Ticket> tickets = new List<Ticket>();

    protected override void OnInitialized()
    {
        tickets = new List<Ticket> { ticket1, ticket2, ticket3, ticket4 };
    }
}
