@page "/mall"
@using Objects


<div class="container">
    <header class="d-flex justify-content-left py-3">
        <ul class="nav nav-pills">

            <li class="nav-item"><a href="/mall" class="nav-link active" aria-current="page">Статистика</a></li>
            <li class="nav-item"><a href="/notifications" class="btn btn-outline-primary">Уведомления и Заявки</a></li>
            <li class="nav-item"><a href="/rooms" class="btn btn-outline-primary">Мои Помещения</a></li>
            <li class="nav-item"><a href="/parking" class="btn btn-outline-primary">Парковка в лайв-режиме</a></li>
        </ul>
    </header>
</div>


@code {
  
}
