@page "/mall"



<div class="container">
        <header class="d-flex justify-content-left py-3" 
                style='border-spacing: 10px;
                border-collapse: separate;'>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/tickets" class="nav-link active" aria-current="page">Заявки Жителей</a></li><br />
            <li class="nav-item"><a href="rooms" class="btn btn-outline-primary">Обзор помещений</a></li><br />
            <li class="nav-item"><a href="parking" class="btn btn-outline-primary">Парковка в лайв-режиме</a></li>
          </ul>
        </header>
</div>

<p><img class="card-img-top" src="https://th.bing.com/th/id/R.6b9858f7a3ac155341c914b14249e63d?rik=3Xg8n5snvKQghQ&amp;riu=http%3a%2f%2floveopium.ru%2fcontent%2f2016%2f10%2fkrasnodar%2f34.jpg&amp;ehk=89JMwIEEyZv3SlWpLYtpwr7DzLsrZg03PkknT8YMfMo%3d&amp;risl=&amp;pid=ImgRaw&amp;r=0" width="408" height="275" /></p>
<h1>Обьект:ТЦ Галерея Краснодар</h1>
<h3>Адрес: ул. Володи Головатого, 313, Краснодарский край, г.Краснодар</h3>
<h3>Телефон: 8 (861) 201-51-51</h3>
<h3>Веб-сайт: <a href="http://www.galleryk.ru">www.galleryk.ru</a></h3>

@code {

}
