@page "/"

<h3>Ваши объекты</h3>

<table
    style='border-spacing: 15px;
    border-collapse: separate;'>
    <tr>
        <th>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://th.bing.com/th/id/R.6b9858f7a3ac155341c914b14249e63d?rik=3Xg8n5snvKQghQ&riu=http%3a%2f%2floveopium.ru%2fcontent%2f2016%2f10%2fkrasnodar%2f34.jpg&ehk=89JMwIEEyZv3SlWpLYtpwr7DzLsrZg03PkknT8YMfMo%3d&risl=&pid=ImgRaw&r=0" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ТЦ Галерея Краснодар</h5>
                <p class="card-text">ул. Володи Головатого, 313, Краснодар, Краснодарский край, 350000. Телефон:  8 (861) 201-51-51</p>
                <a href="rooms" class="btn btn-outline-primary">Обзор помещений</a>
                <br />
                <br />
                <a href="parking" class="btn btn-outline-primary">Парковка в лайв-режиме</a>
              </div>
            </div>
        </th>
        <th>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://th.bing.com/th/id/R.6b9858f7a3ac155341c914b14249e63d?rik=3Xg8n5snvKQghQ&riu=http%3a%2f%2floveopium.ru%2fcontent%2f2016%2f10%2fkrasnodar%2f34.jpg&ehk=89JMwIEEyZv3SlWpLYtpwr7DzLsrZg03PkknT8YMfMo%3d&risl=&pid=ImgRaw&r=0" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ТЦ Галерея Краснодар</h5>
                <p class="card-text">ул. Володи Головатого, 313, Краснодар, Краснодарский край, 350000. Телефон:  8 (861) 201-51-51</p>
                <a href="rooms" class="btn btn-outline-primary">Обзор помещений</a>
                <br />
                <br />
                <a href="parking" class="btn btn-outline-primary">Парковка в лайв-режиме</a>
              </div>
            </div>
        </th>
        <th>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://th.bing.com/th/id/R.6b9858f7a3ac155341c914b14249e63d?rik=3Xg8n5snvKQghQ&riu=http%3a%2f%2floveopium.ru%2fcontent%2f2016%2f10%2fkrasnodar%2f34.jpg&ehk=89JMwIEEyZv3SlWpLYtpwr7DzLsrZg03PkknT8YMfMo%3d&risl=&pid=ImgRaw&r=0" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ТЦ Галерея Краснодар</h5>
                <p class="card-text">ул. Володи Головатого, 313, Краснодар, Краснодарский край, 350000. Телефон:  8 (861) 201-51-51</p>
                <a href="rooms" class="btn btn-outline-primary">Обзор помещений</a>
                <br />
                <br />
                <a href="parking" class="btn btn-outline-primary">Парковка в лайв-режиме</a>
              </div>
            </div>
        </th>
    </tr>
</table>


@code {

}
