@page "/statistic"
<h3>Общая статистика по объектам</h3>
<br />
<img src="https://graphicpanda.net/wp-content/uploads/2018/02/01-Statistic-Demographic-Infographics-Templates-PowerPoint-Templates-Keynote-Themes-Google-Slides.jpg" >
@code {
    
}