@page "/tickets"
@using Objects

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <PageTitle>Запросы от жильцов</PageTitle>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">@ticket.Title</h5>
            @if (ticket.IsSOS == true)
            {
                <h6 class="card-subtitle mb-2 text-muted">SOS</h6>
            }
            else
            {
                <h6 class="card-subtitle mb-2 text-muted">NO SOS</h6>
            }
        <p class="card-text">@ticket.Text</p>
        <a href="#" class="card-link">Дать леща</a>
        <a href="#" class="card-link">Сломать колени</a>
      </div>
    </div>
</body>




@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private Ticket ticket = new Ticket() {
            Id = 693765,
            Type = "Вопрос",
            Title = "ГДЕ ОПЛАТИТЬ КОМУНАЛКУ ОЛЕНИ",
            IsSOS = false,
            Date = new DateTime(2015, 7, 20),
            Address = "Г.Краснодар ул.Бульвар Кайфа 15, кв.75",
            Text = "Хелпаните с поиском места оплаты всякого"
    };
}
