@inherits LayoutComponentBase

<PageTitle>hackathon</PageTitle>

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(180deg, #2819fc, #2f70e0, #2d21d1);">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
